// colours
$text-primary: #0a0a0a;
$color-bg: #ffffff;
$color-like: #219653;
$color-dislike: #eb5757;
$color-neutral: #959298;
$border-color: #dce0e4;

// font
$font-main: "Roboto", sans-serif;

// sizes
$container-width: 1200px;
$gutter: 16px;
